@import './variables';

.about-container {
  width: 60vw;
  height: 90vh;
  margin: auto;
  display: flex;

  span {
    color: $eyed;
    // text-decoration: underline;
  }

  @include l {
    width: 90vw;
    height: 100vh;
  }
  @include md {
    height: 105vh;
  }
  @include ms {
    height: 115vh;
  }
  .text {
    text-align: left;
    width: 70%;
    margin: auto;
    letter-spacing: 0.4px;

    @include md {
      width: 80%;
    }

    h2 {
      margin-bottom: 20px;
      @include md {
        font-size: 1.2rem;
      }
    }
    p {
      margin-bottom: 15px;
      font-size: 0.9em;
      @include md {
        font-size: 0.8rem;
      }
    }
  }
  .image {
    margin: auto;
    border-radius: 50%;
    height: 200px;
    position: relative;
    border: 1px $accent ridge;
    @include l {
      display: none;
    }
    img {
      border-radius: 50%;
      height: 100%;
    }
    &::after {
      position: absolute;
      content: '';
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      z-index: 10;
      background-color: $accent;
      opacity: 0.2;
    }
  }
}
