@import './variables';

@mixin sm {
  @media (max-width: #{$screen-sm}) {
    @content;
  }
}

.left i {
  position: fixed;
  bottom: 0;
  left: 3vw;
  color: $primary;
  a {
    color: inherit;
  }

  &::after {
    content: '';
    display: block;
    background: $primary;
    color: white;
    width: 1px;
    height: 5vh;
    position: relative;
    left: 6px;
    margin-top: 15px;
  }
  @include sm {
    opacity: 0;
  }
}

.right {
  writing-mode: vertical-rl;
  position: fixed;
  bottom: 0px;
  right: 3vw;
  span {
    padding: 15px;
  }
  &::after {
    content: '';
    display: inline-block;
    background: $primary;
    color: white;
    width: 1px;
    height: 15vh;
    position: relative;
    right: 2.5px;
  }
  @include sm {
    opacity: 0;
  }
}
