@import './variables';

.project-container {
  .inner-container {
    width: 65vw;
    margin: auto;
    @include md {
      width: 80vw;
    }
  }
  a {
    color: inherit;
  }
  .image {
    width: 45vw;
    &::after {
      position: absolute;
      content: ' ';
      top: 0px;
      left: 0px;
      width: 45vw;
      height: 100%;
      z-index: 10;
      background-color: $background;
      opacity: 0.3;
      @include md {
        z-index: -1;
      }
    }
    &:hover {
      &::after {
        opacity: 0;
      }
    }
    img {
      width: 100%;
      height: 100x;
      @include ms {
        object-fit: cover;
        height: 50vh;
      }
      @include sm {
        object-fit: cover;
        height: 58vh;
      }
      @include md {
        width: 100%;
      }
    }
    @include md {
      width: 100%;
    }
  }
  .project {
    margin: 40px 20px;
    margin-bottom: 15vh;
    position: relative;
    .info {
      width: 30vw;
      position: absolute;
      bottom: -24%;
      right: 0;
      text-align: right;
      z-index: 100;
      @include md {
        top: 0;
      }
      .dsc {
        background: $accent;
        padding: 10px 20px 10px 20px;
        margin-bottom: 10px;
        border-radius: 10px;
        letter-spacing: 1px;
        line-height: 1.3rem;
        font-size: 0.9rem;
        @include md {
          background: transparent;
        }
        @include l {
          font-size: 0.8rem;
        }
      }
      .tech {
        font-size: 0.8rem;
        font-style: italic;
        font-weight: bold;
        letter-spacing: 1px;
        color: $accent;
        margin-right: 10px;
        @include md {
          color: $eyed;
        }
      }
      i {
        padding: 5px;
        margin: 5px;

        &:hover {
          cursor: pointer;
          // filter: drop-shadow(2px 2px 2px rgba(247, 247, 247, 0.507));
          // transition: filter 0.5s ease-in;
        }
      }
      h2 {
        padding: 5px;
        font-size: 1.3rem;
        font-weight: bold;
        margin-right: 20px;
        @include ms {
          font-size: 1.1rem;
        }
      }
      @include md {
        width: 100%;
        height: 100%;
        background: $background;
        opacity: 0.8;
      }
    }
  }
}
