$primary: #f5f6f4;
$secondary: #a3afb8;
$eyed: #e06848;
$accent: #9b7150;
$background: #394e53;

// $breakpoints: (
//   'medium': 850px,
//   'small': 360px,
// );

$screen-md: 850px;
$screen-sm: 360px;

/* ECDEE3
  738475
  73D8B4
  9D5A3C
  2B3235
  
  F1F0EE
  99969B
  CF5F37
  B17D61
  463C43
  
  F5F6F4
  A3AFB8
  E06848
  9B7150
  394E53 */
