/* ECDEE3
  738475
  73D8B4
  9D5A3C
  2B3235
  
  F1F0EE
  99969B
  CF5F37
  B17D61
  463C43
  
  F5F6F4
  A3AFB8
  E06848
  9B7150
  394E53 */
/* ECDEE3
  738475
  73D8B4
  9D5A3C
  2B3235
  
  F1F0EE
  99969B
  CF5F37
  B17D61
  463C43
  
  F5F6F4
  A3AFB8
  E06848
  9B7150
  394E53 */
.Nav {
  background-color: #f5f6f40a !important;
  letter-spacing: 0.2em;
  position: fixed;
  top: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  padding: 0px 20px;
}

.Nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.Nav li {
  list-style: none;
  margin: 10px;
  padding: 10px;
  list-style: none;
  text-decoration: none;
}

.Nav .Ul li a {
  text-decoration: none;
  color: white;
}

/* ECDEE3
  738475
  73D8B4
  9D5A3C
  2B3235
  
  F1F0EE
  99969B
  CF5F37
  B17D61
  463C43
  
  F5F6F4
  A3AFB8
  E06848
  9B7150
  394E53 */
.text {
  color: #f5f6f4;
  position: relative;
  top: -2%;
  z-index: 1;
  text-align: center;
}

.text h2 {
  color: #e06848;
}

.home-container {
  background: url("../img/home.jpg") no-repeat 0, 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Set a specific height */
  height: 100vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-container::after {
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: #9b7150;
  opacity: 0.5;
}

/* ECDEE3
  738475
  73D8B4
  9D5A3C
  2B3235
  
  F1F0EE
  99969B
  CF5F37
  B17D61
  463C43
  
  F5F6F4
  A3AFB8
  E06848
  9B7150
  394E53 */
.skills-container {
  height: 100vh;
}

.skills-container h1 {
  padding-bottom: 1em;
}

.skills-container h2 {
  color: #e06848;
}

@media (max-width: 850px) {
  .skills-container h1 {
    font-size: 1.1rem;
  }
}

@media (max-width: 850px) {
  .skills-container h2 {
    font-size: 1rem;
  }
}

.skills-container .inner-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10% 5%;
}

.skills-container span {
  color: white;
}

.skills-container .skills-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 500px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills-container .skills-box .logo-container {
  width: 100px;
  margin: 1.5vh;
  padding: 1.5vh;
  text-align: center;
}

@media (max-width: 850px) {
  .skills-container .skills-box .logo-container {
    width: 70px;
  }
}

.skills-container .skills-box .logo-container p {
  color: #a3afb8;
}

.skills-container .skills-box img {
  height: 50px;
  width: 50px;
  -webkit-filter: grayscale(95%);
          filter: grayscale(95%);
}

.skills-container .skills-box img:hover {
  -webkit-filter: none;
          filter: none;
}

@media (max-width: 850px) {
  .skills-container .skills-box img {
    height: 30px;
    width: 30px;
  }
}

@media (max-width: 850px) {
  .skills-container .skills-box p {
    font-size: 0.8rem;
  }
}

/* ECDEE3
  738475
  73D8B4
  9D5A3C
  2B3235
  
  F1F0EE
  99969B
  CF5F37
  B17D61
  463C43
  
  F5F6F4
  A3AFB8
  E06848
  9B7150
  394E53 */
.project-container .inner-container {
  width: 65vw;
  margin: auto;
}

.project-container .image {
  width: 45vw;
}

.project-container .image::after {
  position: absolute;
  content: ' ';
  top: 0px;
  left: 0px;
  width: 45vw;
  height: 100%;
  z-index: 10;
  background-color: #394e53;
  opacity: 0.3;
}

.project-container .image:hover::after {
  opacity: 0;
}

.project-container .image img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1280px) {
  .project-container .image {
    width: 70%;
  }
}

.project-container .project {
  margin: 40px 20px;
  position: relative;
}

.project-container .project .info {
  width: 25vw;
  position: absolute;
  top: 28%;
  right: 0;
  text-align: right;
  z-index: 100;
}

.project-container .project .info .dsc {
  background: #9b7150;
  padding: 10px 20px 20px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.project-container .project .info i {
  padding: 5px;
}

.project-container .project .info i:hover {
  cursor: pointer;
}

.project-container .project .info h2 {
  padding: 5px;
}

@media (max-width: 1280px) {
  .project-container .project .info {
    width: 30%;
  }
}

/* ECDEE3
  738475
  73D8B4
  9D5A3C
  2B3235
  
  F1F0EE
  99969B
  CF5F37
  B17D61
  463C43
  
  F5F6F4
  A3AFB8
  E06848
  9B7150
  394E53 */
.left i {
  position: fixed;
  bottom: 0;
  left: 3vw;
  color: #f5f6f4;
}

.left i a {
  color: inherit;
}

.left i::after {
  content: '';
  display: block;
  background: #f5f6f4;
  color: white;
  width: 2px;
  height: 5vh;
  position: relative;
  left: 6px;
  margin-top: 15px;
}

.right {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  position: fixed;
  bottom: 0px;
  right: 3vw;
}

.right span {
  padding: 15px;
}

.right::after {
  content: '';
  display: inline-block;
  background: #f5f6f4;
  color: white;
  width: 1px;
  height: 15vh;
  position: relative;
  right: 2.5px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #394e53;
  color: #f5f6f4;
  overflow-x: hidden;
}

.active {
  color: #e06848 !important;
}

.container {
  width: 100vw;
}

.parallax {
  background: url("../img/parallax2.jpg") no-repeat 0, 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Set a specific height */
  height: 20vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 15vh;
}

.parallax::after {
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: #9b7150;
  opacity: 0.5;
}
/*# sourceMappingURL=styles.css.map */