/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(7, 27, 44);
  color: rgb(215, 217, 250);
  overflow-x: hidden;
}

.active {
  color: rgb(68, 162, 216) !important;
}

.container {
  margin-top: 82px;
  min-height: 90vh;
  width: 100vw;
}

/* ECDEE3
738475
73D8B4
9D5A3C
2B3235

F1F0EE
99969B
CF5F37
B17D61
463C43

F5F6F4
A3AFB8
E06848
9B7150
394E53 */ */
